Body
{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	background-color:whitesmoke;
}
TD 
{
	font-family:Verdana;
	font-size:11px;
}
SELECT
{
	font-size:11px;
	font-family:Verdana;
   color:Black;
}

INPUT
{
	font-size:11px;
	font-family:Verdana;
   color:Black;
}

.PageHeaderCls
{
	border-right:#777A7A 1px solid;
	border-top: #777A7A  1px solid;
	border-left: #777A7A  1px solid;
	border-bottom: #777A7A 1px solid;
	height: 23px;
	background-color: #D9DBDB;
	font-size:13px;
	font-family:Verdana;
   color:Black; 
}

.InfoCls
{
	font-size:10px;
	font-family:Verdana;
   color:Black; 
   font-weight:bold;
   height:20px
}

.GroupBoxCls
{
	font-size:10px;
	font-family:Verdana;
   color:Black;
    height: 230px;
}

.WarningCls
{
	border-right:#777A7A 1px solid;
	border-top: #777A7A  1px solid;
	border-left: #777A7A  1px solid;
	border-bottom: #777A7A 1px solid;
	background-color: #F3F7B7;
	font-size:10px;
	font-family:Verdana;
   color:Black; 
   font-weight:bold;
   height:20px
}

.LabelHeaderCls
{
	font-size:14px;
	font-family:Verdana;
   color:Black;   
}

.DgrCls
{  
	border-color: #BECA98; 
}

.DgrHeaderCls
{
	color: White;   
   background-color:#788AFF;
   font-family: Verdana;
   font-size:11px;
   text-align:center;
   height:23px;	
   white-space:nowrap;
}

.DgrOddCls
{
	color:Black;
   background-color:#E0E0E0;
   font-family: Verdana;
   font-size:11px;
   white-space:nowrap;
}

.DgrEvenCls
{
	color:Black;
   font-family: Verdana;
   font-size:11px;
   white-space:nowrap;
}
    

.LoadingCls
{
	font-size:10px;
	font-family:Verdana;
   color:Black;	
   height:25px;
}

.HeaderCls
{
	font-size:13px;
	font-family:Verdana;
   color:Black;
   font-weight:bold; 
}	

.WhiteHeaderCls
{
	font-size:18px;
	font-family:Verdana;
   color:White;
}	

.LabelCls
{
	font-size:11px;
	font-family:Verdana;
   color:Black;
}

.WhiteLabelCls
{
	font-size:11px;
	font-family:Verdana;
   color:White;
}

.ErrorMsgCls
{
	font-size:11px;
	font-family:Verdana;
   color:Red;
}

.LinkBtnCls
{
	font-size:11px;
	font-family:Verdana;
   color:Blue;
   text-decoration:none;
}

.WhiteLnkCls
{
	font-size:11px;
	font-family:Verdana;
   color:White;
   text-decoration:none;
}

.ButtonCls
{
	font-size:11px;
	font-family:Verdana;
}

.TextBoxCls   
{
	font-size:11px;
	font-family:Verdana;
   color:Black;
   border-style:groove;
}   

.WebTreeCls
{
	font-size:11px;
	font-family:Verdana;
	color:Black;
}   

.CheckBoxCls   
{
   font-size:11px;
	font-family:Verdana;
}

.DataGridCls
{
	font-size:11px;
	font-family:Verdana;
}

.ButtonCls
{
	font-size:11px;
	font-family:Verdana;
	color:Black;	
}

.menustyle
{
	background-repeat: no-repeat;
	background-color:#336699;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#FFFFFF;
	height:16;
	text-align:center;
	padding-left: 10px;
	padding-right: 5px;
	
}

.submenustyle
{
	background-repeat: no-repeat;
	background-color:#336699;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#FFFFFF;
	width:150;
	height:16;
	text-align:left;
	padding-left: 10px;
	padding-right: 5px;
	cursor: hand;
}

.LinkSeparator 
{
	COLOR: white;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10px;
	height:15px;
	TEXT-DECORATION:none;
	background-color:Transparent
}

.menuitem
{
	background-repeat: no-repeat;
	background-color:#4791C5;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#FFFFFF;
	height:16;
	text-align:center;
}


.mouseup
{
	background:url(../Resources/Images/tab_mouseup.gif);
	background-repeat: no-repeat;
	background-color:#76add3;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#FFFFFF;
	height:16;
	text-align:center;
	padding-left: 10px;
	padding-right: 5px;
	cursor: hand;
}

.mouseover
{
	background-repeat: no-repeat;
	background-color:#76add3;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#000000;
	height:16;
	text-align:center;
	padding-left: 10px;
	padding-right: 5px;
	cursor: hand;
}

.mousedown
{
	background-repeat: no-repeat;
	background-color:#76add3;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#000000;
	height:16;
	text-align:center;
	padding-left: 10px;
	padding-right: 5px;
	cursor: hand;
}

.menusubitem
{
	background:url(../Resources/Images/tab_mouseup.gif);
	background-repeat: no-repeat;
	background-color:#336699;
	font-family: Verdana;
	font-weight:bold;
	font-size:9px;
	color:#FFFFFF;
	height:16;
	text-align:left;
}

.tabItem 
{	
	text-justify:distribute-all-lines;
	vertical-align:top;
	height: 30px;
	display:inline;
	font-size: 11px;
	color:White;
	margin: 10px 0px 0px 0px;  
	background-color:#333333;
	/*background-image:url(../Resources/Images/tabimage.gif);*/
}

.TabDefaultCls
{
	background:url(resources/images/tab_default_bg.GIF);
	background-color:#336699;
	font-family:verdana;
	font-weight:bold;
	font-size:10px;
	color:Red;
	width:100;
	height:25;
	text-align:center;	
}

.TabHoverCls
{
	background-color:#76add3;
	color:#000000;
}
.TabSelectedCls
{
	background-color:#76add3;
	color:#000000;
}

.FooterCls
{
   color:ActiveBorder;
	font-size:10px;
	font-family:verdana;
}

.borderBottom_darkgray
{
	border-bottom:solid 1px darkgray; 
	background-color:#336699;
}
