


.topTitleRow{
        background-color: #003366;
        color:white;
        font-family:Arial;
        font-weight:bold;
        padding:14px 10px 10px 13px;
        height:56px;
        border-radius:4px;
    }
    .topTitleRow span{
        font-size:24px;
    }
    .topTitleRow label{
        font-size:20px;
    }


    .area{
        background-color:#FBF2EF;
        border-style:solid;
        border-radius:6px;
        border-width:1px;
        border-color:#ddd;
        padding-bottom:4px;
    }
    .areaL{
         margin:16px 8px 0px 0px;
    }
    .areaR{
        margin:16px 0px 0px 8px;  
    }
    .areaM{
        margin:16px 8px 0px 8px;  
    }
    .areaChart{
        height:330px;
    }


    .divController{
        width:110px; 
        height:70px;
        border-radius:6px;
        border-width:1px;
        border-style:solid;
        border-color:gray;
        margin:4px;       
        text-align:center;
        padding-top:10px;
    }

    .run{
        background-color:lawngreen; 
    }
    .idle{
        background-color:orange; 
    }
    .breakdown{
        background-color:red; 
    }
    .shutdown{
        background-color:gray; 
    }
     

     .statusTitle{
        width:100%; 
        font-weight:bold;
        text-align:center;
        line-height:40px;
    }    

   
    .statusFont{
        width:100%;
        font-size:13px;
        font-weight:bold;
        line-height:25px;
    }



    .dayOffSwitch{
        position:absolute;
        left:58%;
        top:130px;

        width:212px;
        height:35px;
    }