
@{
    ViewBag.Title = "PQCOperatorPerformanceChart";
}

<style>
    label{
        width:35%
    }
    #txtDateFrom, #txtDateTo{
        width:60%;
    }
    .searchingPanel{
        padding-top:10px;
    }
</style>

<div class="container">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">PQC Operator Performance Chart</span>
    </div>

    <div class="row searchingBar">
        <div class="col-sm-12 panel panel-default searchingPanel">
            <div class="row form-inline searchingBar ">
                <div class="col-sm-3">
                    <label>Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom" data-date-format="yyyy-mm-dd" placeholder="Please choose date" />
                </div>
                <div class="col-sm-3">
                    <label>Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo" data-date-format="yyyy-mm-dd" placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"  style="text-align:right; padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="generate();" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 panel panel-default" style="margin-top:10px;">
            <div id="divChart"></div>
        </div>
    </div>
</div>



@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@*echart*@
<script src="~/plugins/incubator-echarts-master/dist/echarts.min.js"></script>

<script type="text/javascript">

    var apiGetChartData = window.globalConfig.rootDirectory + '/Charts/GetPQCOperatorPerformanceData';
    var chart = echarts.init(document.getElementById('divChart'));

    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });



    $(document).ready(function () {
        var today = dateFormat('yyyy-MM-dd', new Date());
        $('#txtDateFrom').val(today);
        $('#txtDateTo').val(today);

        generate();
    });

    

    function generate() {

        if ($("#txtDateFrom").val() == '') {
            alert('Date From can not be empty!');
            return false;
        }
        if ($("#txtDateTo").val() == '') {
            alert('Date To can not be empty!');
            return false;
        }

        let searchParam = {
            DateFrom: $("#txtDateFrom").val(),
            DateTo: $("#txtDateTo").val()
        }


        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetChartData,
            data: searchParam,

            beforeSend: function(){
                chart.showLoading();
            },

            success: function (data) {
                if (data == null || data == undefined || data.length == 0) {
                    alert('No data found!');
                    chart.clear();
                    return false;
                }

                //console.log(data);


                let axisXLabel = [];
                let series = [];


                let onlineData = [];
                let wipData = [];
                let pOnlineData = [];
                let pOfflineData = [];

                data.forEach(function (item) {
                    axisXLabel.push(item.UserID);

                    onlineData.push(item.LaserQty);
                    wipData.push(item.WIPQty);
                    pOnlineData.push(item.PackOnlineQty);
                    pOfflineData.push(item.PackOfflineQty);
                })



                //添加 online, wip, packing-online, packing-offline 4个series
                series.push({
                    name: 'Online',
                    type: 'bar',
                    stack: 'output',
                    data: onlineData,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                });
                series.push({
                    name: 'WIP',
                    type: 'bar',
                    stack: 'output',
                    data: wipData,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                });
                series.push({
                    name: 'Pack Online',
                    type: 'bar',
                    stack: 'output',
                    data: pOnlineData,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                });
                series.push({
                    name: 'Pack Offline',
                    type: 'bar',
                    stack: 'output',
                    data: pOfflineData,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                });
                //添加 online, wip, packing-online, packing-offline 4个series

              


                option = {

                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data: ['Online', 'WIP', 'Pack Online', 'Pack Offline'],
                        top: 10
                    },
                    grid: {
                        bottom: 90
                    },
                    dataZoom: [{
                        type: 'inside'
                    }, {
                        type: 'slider'
                    }],
                    xAxis: [
                        {
                            type: 'category',
                            data: axisXLabel,
                            axisLabel: {
                                interval: 0,
                                show: true,
                                rotate: 45,
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: 'Output Qty'
                        }
                    ],
                    series: series
                };

                chart.clear();
                chart.setOption(option, true);
            },

            complete: function(){
                chart.hideLoading();
                chart.resize({ height: $(window).height()  - 300});
            },

            error: function (e) {
                alert("Get chart data error !");
                chart.hideLoading();
            }
        });
    }




    $(window).resize(function () {
        chart.resize({ height: $(window).height() - 300 });
    });


</script>