
@{
    ViewBag.Title = "PQCTopRejectChart";
}

<style>
    label{
        width:35%;
    }
    #txtDateFrom,#txtDateTo,#ddlTopCount{
        width:60%;
    }
    #divChartTopPartNo{
        padding-top:10px;
    }
    #divChartTopDefect{
        border-top:1px solid #ccc;
        margin-top:10px;
        padding-top:10px;
    }
    .t10{
        padding-top:10px;
    }
</style>

<div class="container">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">PQC Top Rejection Chart</span>
    </div>

    <div class="row searchingBar">
        <div class="col-sm-12 panel panel-default searchingPanel t10">
            <div class="row form-inline searchingBar ">
                <div class="col-sm-3">
                    <label>Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom"
                           data-date-format="yyyy-mm-dd"
                           placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3">
                    <label>Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo"
                           data-date-format="yyyy-mm-dd"
                           placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3">
                    <label>Top:</label>
                    <select class="form-control" id="ddlTopCount">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="btn btn-success" value="Generate" onclick="generateTopPartNoRej(); generateTopDefectRej();" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <div id="divChartTopPartNo"></div>
            <div id="divChartTopDefect"></div>
        </div>
    </div>
</div>



@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@*echart*@
<script src="~/plugins/incubator-echarts-master/dist/echarts.min.js"></script>

<script type="text/javascript">
    var apiGetTopPartNoChartData = window.globalConfig.rootDirectory + '/Charts/GetTopPartNoRejData';
    var apiGetTopDefectChartData = window.globalConfig.rootDirectory + '/Charts/GetTopDefectRejData';
    var topPartNoChart = echarts.init(document.getElementById('divChartTopPartNo'));
    var topDefectChart = echarts.init(document.getElementById('divChartTopDefect'));

    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    var chartHeight = 400;
    var chartColor = ['#B22222', 'OrangeRed'];
    

    $(document).ready(function () {
        //默认选择前30天
        let date = new Date();
        date.setDate(date.getDate() - 30);
        let dateFrom = dateFormat('yyyy-MM-dd', date);
        let dateTo = dateFormat('yyyy-MM-dd', new Date());
        $('#txtDateFrom').val(dateFrom);
        $('#txtDateTo').val(dateTo);


        generateTopPartNoRej();
        generateTopDefectRej();
    });



    function generateTopPartNoRej() {
        let searchData = {
            DateFrom: $("#txtDateFrom").val(),
            DateTo: $("#txtDateTo").val(),
            TopCount: $("#ddlTopCount").val()
        };
        let rotate = $("#ddlTopCount").val() >= 10 ? 40 : 0;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetTopPartNoChartData,
            data:searchData,
            beforeSend: function () {
                topPartNoChart.showLoading();
            },

            success: function (data) {
                if (data == '' || data.length == 0 ) {
                    alert("No data found for top part no chart!");
                    return false;
                }

                let arrRejQty = [];
                let arrRejRate = [];
                let arrCategoryData = [];
                for (var i = 0; i < data.length; i++) {
                    arrCategoryData.push(data[i].PartNo);
                    arrRejQty.push(data[i].RejQty);

                    let rejRate = (data[i].RejQty / data[i].TotalQty * 100);
                    arrRejRate.push(rejRate.toFixed(2))
                }



                let seriesRejQty = {
                    name: 'Rej Qty',
                    type: 'bar',
                    yAxisIndex: 0,
                    data: arrRejQty,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                };
                let seriesRejRate = {
                    name: 'Rej %',
                    type: 'line',
                    yAxisIndex: 1,
                    data: arrRejRate,
                    label: {
                        show: true,
                        formatter: function (value) {
                            return value.value + "%";
                        }
                    }
                };

                option = {
                    color: chartColor,
                    title: {
                        text: 'Reject Qty & (%)'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: function (params) {
                            let html = params[0].name + "<br>";
                            for (let i = 0; i < params.length; i++) {
                                html += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:' + params[i].color + ';"></span>'
                                if (params[i].seriesName == 'Rej %') {
                                    html += params[i].seriesName + ":" + params[i].value + "%<br>";
                                } else {
                                    html += params[i].seriesName + ":" + params[i].value + "<br>";
                                }                                
                            }
                            return html;
                        }
                    },
                    legend: {
                        data: ["Rej Qty", "Rej %"],
                        top: 20
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: arrCategoryData,
                            axisLabel:{
                                interval:0,
                                rotate: rotate
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: 'Rej Qty',
                        },
                        {
                            type: 'value',
                            name: 'Rej %',
                            min: 0,
                            nameTextStyle:{
                                color: 'red',
                            },
                            axisLabel: {
                                formatter: '{value}%',
                                color: 'red',
                            }
                        }
                    ],
                    series: [seriesRejQty, seriesRejRate]
                };

                topPartNoChart.clear();
                topPartNoChart.setOption(option, true);
            },

            complete: function(){
                topPartNoChart.hideLoading();
                topPartNoChart.resize({ height: chartHeight });
            },
            error: function (e) {
                alert("Get chart data error !");
                topPartNoChart.hideLoading();
            }
        });
    }

    function generateTopDefectRej() {
        let searchData = {
            DateFrom: $("#txtDateFrom").val(),
            DateTo: $("#txtDateTo").val(),
            TopCount: $("#ddlTopCount").val()
        };
        let rotate = $("#ddlTopCount").val() >= 10 ? 40 : 0;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetTopDefectChartData,
            data: searchData,
            beforeSend: function () {
                topDefectChart.showLoading();
            },

            success: function (data) {
                if (data == '' || data.length == 0) {
                    alert("No data found for top defect chart");
                    return false;
                }


                let arrRejQty = [];
                let arrRejRate = [];
                let arrCategoryData = [];
                for (var i = 0; i < data.length; i++) {
                    arrCategoryData.push(data[i].DefectCode);
                    arrRejQty.push(data[i].RejQty);

                    let rejRate = (data[i].RejQty / data[i].TotalQty * 100);
                    arrRejRate.push(rejRate.toFixed(2))
                }

                let seriesRejQty = {
                    name: 'Rej Qty',
                    type: 'bar',
                    yAxisIndex: 0,
                    data: arrRejQty,
                    label: {
                        show: true,
                        position: 'inside',
                        formatter: function (data) {
                            if (data.data === 0) {
                                return '';
                            } else {
                                return data.data;
                            }
                        }
                    }
                };
                let seriesRejRate = {
                    name: 'Rej %',
                    type: 'line',
                    yAxisIndex: 1,
                    data: arrRejRate,
                    label: {
                        show: true,
                        formatter: function (value) {
                            return value.value + "%";
                        }
                    }
                };

                option = {
                    color: chartColor,
                    title: {
                        text: 'Defect Qty & (%)'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: function (params) {
                            let html = params[0].name + "<br>";
                            for (let i = 0; i < params.length; i++) {
                                html += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:' + params[i].color + ';"></span>'
                                if (params[i].seriesName == 'Rej %') {
                                    html += params[i].seriesName + ":" + params[i].value + "%<br>";
                                } else {
                                    html += params[i].seriesName + ":" + params[i].value + "<br>";
                                }
                            }
                            return html;
                        }
                    },
                    legend: {
                        data: ["Rej Qty", "Rej %"],
                        top: 20
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: arrCategoryData,
                            axisLabel: {
                                interval: 0,
                                rotate: rotate
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: 'Rej Qty',
                        },
                        {
                            type: 'value',
                            name: 'Rej %',
                            min: 0,
                            nameTextStyle: {
                                color: 'red',
                            },
                            axisLabel: {
                                formatter: '{value}%',
                                color: 'red',
                            }
                        }
                    ],
                    series: [seriesRejQty, seriesRejRate]
                };
                              
                topDefectChart.clear();
                topDefectChart.setOption(option, true);
            },

            complete: function () {
                topDefectChart.hideLoading();
                topDefectChart.resize({ height: chartHeight });
            },
            error: function (e) {
                alert("Get chart data error !");
                topDefectChart.hideLoading();
            }
        });
    }




    $(window).resize(function () {
        topPartNoChart.resize({ height: chartHeight });
        topDefectChart.resize({ height: chartHeight });
    });

</script>
