body {
}

.titleRow{
    background-color: #003366;
    color:white;
    font-family:Arial;
    font-weight:bold;
    padding:14px 10px 10px 13px;
    height:48px;
    border-radius:4px;
}

.titleImg{
    width: 20px; 
    height: 20px;
    display:inline-block;
    margin-bottom:6px;
}

.titleText{
    display:inline-block;
    font-size:20px;
}



.searchingBar{
    margin-top:6px;
}

.searchingBarCol{
    margin-left :10px;
    margin-right:5px;
}

.searchingPanel{
    margin-top:6px;
    padding-bottom:10px;
    padding-left:10px;
}

/*table表头样式*/
.table .thead-title th {
    color: #fff;
    background-color: #5D7B9D;
    border-color: darkgray;
}


/*模仿bootstap 实现5等分*/
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
/*模仿bootstap 实现5等分*/

/*模仿bootstap 实现8等分*/
.col-xs-1-8,
.col-sm-1-8,
.col-md-1-8,
.col-lg-1-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1-8 {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-8 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-8 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-8 {
    width: 12.5%;
    float: left;
  }
}
/*模仿bootstap 实现8等分*/



