
@{
    ViewBag.Title = "PackingProductionTrendChart";
}

@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />



<div class="container">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Packing Production Trend Chart</span>
    </div>


    <div class="row searchingBar">

        <div class="col-md-12 panel panel-default searchingPanel" style="padding-top:10px;">

            <div class="row form-inline searchingBar ">
                <div class="col-md-3">
                    <label style="width:35%">Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" style="width:60%;" />
                </div>
                <div class="col-md-3">
                    <label style="width:35%">Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" style="width:60%;" />
                </div>
                <div class="col-md-3">
                    <label for="ddlType" style="width:35%">Type:</label>
                    <select id="ddlType" class="form-control selectpicker" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlPIC" style="width:35%">PIC:</label>
                    <select id="ddlPIC" class="form-control selectpicker" data-ng-style="btn-info"></select>
                </div>
            </div>

            <div class="row form-inline searchingBar ">
                <div class="col-md-3">
                    <label for="ddlPartNo" style="width:35%">Part No:</label>
                    <select id="ddlPartNo" class="form-control selectpicker" data-live-search="true" data-ng-style="btn-info"></select>
                </div>
                <div class="col-md-3">
                    <label for="ddlStation" style="width:35%;">Station:</label>
                    <select id="ddlStation" class="form-control selectpicker" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="1">Station 01</option>
                        <option value="2">Station 02</option>
                        <option value="3">Station 03</option>
                        <option value="4">Station 04</option>
                        <option value="5">Station 05</option>
                        <option value="6">Station 06</option>
                        <option value="7">Station 07</option>
                        <option value="8">Station 08</option>
                        <option value="11">Station 11</option>
                        <option value="12">Station 12</option>
                        <option value="13">Station 13</option>
                        <option value="14">Station 14</option>
                        <option value="15">Station 15</option>
                        <option value="16">Station 16</option>
                        <option value="17">Station 17</option>
                        <option value="18">Station 18</option>
                        <option value="21">Station 21</option>
                        <option value="22">Station 22</option>
                        <option value="23">Station 23</option>
                        <option value="24">Station 24</option>
                        <option value="25">Station 25</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label style="width:35%">Job No:</label>
                    <input type="text" class="form-control" id="txtJobNo" CssClass="form-control" placeholder="Please input job no" style="width:60%;" />
                </div>
                <div class="col-md-3" align="right" style="padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="padding:0px; margin-top:10px;">
            <div id="chartProduction" style="height:700px;"></div>
        </div>
    </div>


</div>




<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />


<script src="~/Dashboard CSS JS/JS/LASER_MachineSetting.js"></script>
<script src="~/plugins/incubator-echarts-master/dist/echarts.min.js"></script>


<script type="text/javascript">


    var apiGetProductList = window.globalConfig.rootDirectory + '/PQC_Product/GetProductTrendList';


    //初始化时间框
    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });


    $('#ddlPIC').selectpicker({ width: 'calc(60%)' });
    $('#ddlStation').selectpicker({ width: 'calc(60%)' });
    $('#ddlPartNo').selectpicker({ width: 'calc(60%)' });
    $('#ddlType').selectpicker({ width: 'calc(60%)' });


    //初始化 echart
    var chart = echarts.init(document.getElementById('chartProduction'));


    $(document).ready(function () {

        setUserIDDDL($('#ddlPIC'), 'PQC');
        setPartNoDDL($('#ddlPartNo'), 'PQC', '');


        var today = dateFormat('yyyy-MM-dd', new Date());
        $('#txtDateFrom').val(today);
        $('#txtDateTo').val(today);


        search();
    });



    function search() {

        var datefrom = $("#txtDateFrom").val();
        if (datefrom == '') {
            alert('Date From can not be empty!');
            return false;
        }

        var dateto = $("#txtDateTo").val();
        if (dateto == '') {
            alert('Date To can not be empty!');
            return false;
        }




        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetProductList,
            data: {
                DateFrom: $("#txtDateFrom").val(),
                DateTo: $("#txtDateTo").val(),
                PIC: $('#ddlPIC').val(),
                Station: $("#ddlStation").val(),
                PartNo: $("#ddlPartNo").val(),
                JobNo: $('#txtJobNo').val(),
                Type: $('#ddlType').val()
            },
            success: function (data) {

                if (data == "") {
                    alert("No data searched, please try gagin!");
                }

                var axisXLabelData = [];
                var outputData = [];


                for (var i = 0; i < data.length; i++) {
                    axisXLabelData.push(data[i].op);
                    outputData.push(data[i].output);
                }


                var option = {
                    color: ['#00B050'],

                    title: {
                        text: 'Packing PIC Chart'
                    },

                    legend: {
                        data: ['operator']
                    },

                    tooltip: {
                        show: true,
                        //trigger: 'axis',
                        //crossStyle: {
                        //    color: '#999'
                        //}
                    },

                    xAxis: {
                        type: 'category',
                        name: 'Operator',
                        data: axisXLabelData,//X轴数据 数组
                        axisLabel: {
                            interval: 0,
                            rotate: 0   //X轴 倾斜角度
                        },
                        axisPointer: {
                            type: 'shadow'
                        }
                    },

                    yAxis: [
                        {
                            type: 'value',
                            name: 'Output',
                            min: 0,
                            //max: 100,
                            //interval: 20,
                            //axisLabel: {
                            //    formatter: '{value} %'
                            //}
                        }
                    ],

                    series: [
                        {
                            name: 'operator',
                            type: 'bar',
                            data: outputData,
                            label: {
                                show: true,
                                position: 'insideTop'
                            },
                        }
                    ]
                };


                chart.clear();
                chart.setOption(option);

            },
            error: function (e) {
                alert("Get chart data error !");
            }
        });

    }




    $(window).resize(function () {
        chart.resize();
    });


</script>
