
@{
    ViewBag.Title = "OperatorDailyOutput";
}

<style>
    label{
        width:35%;
    }
    #txtDate,#ddlShift{
        width:60%;
    }
</style>

<div class="container-fluid">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Operator Daily Output Report</span>
    </div>
    <div class="row searchingBar">
        <div class="col-md-12 panel panel-default searchingPanel" style="padding-top:10px;">
            <div class="row form-inline searchingBar ">
                <div class="col-sm-3">
                    <label>Date:</label>
                    <input type="text" class="form-control" id="txtDate" data-date-format="yyyy-mm-dd" placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3">
                    <label>Shift:</label>
                    <select id="ddlShift" class="form-control" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Operator ID:</label>
                    <select id="ddlUserID" class="form-control selectpicker" data-ng-style="btn-info"></select>
                </div>
                <div class="col-sm-3" style="text-align:right; padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding:0px;">
            <table id="tbOperator" data-toggle="table"></table>
        </div>
    </div>
</div>


@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@*bootstrap table 组件*@
<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />

<script type="text/javascript">

    var apiGetData = window.globalConfig.rootDirectory + '/PQC_Product/GetDailyOperatorList';


    //初始化时间框
    $('#txtDate').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });

    $('#ddlUserID').selectpicker({ width: 'calc(60%)' });


    $(document).ready(function () {

        setUserIDDDL($('#ddlUserID'), 'PQC');
        var lastDay = getLastReportDay();
        var strLastDay = dateFormat('yyyy-MM-dd', lastDay);
        $('#txtDate').val(strLastDay);


        search();
    });





    function search() {

        let searchParams = {
            Date: $("#txtDate").val(),
            Shift: $("#ddlShift").val(),
            UserID: $('#ddlUserID').val()
        }

        let columns = [
            {
                title: 'SN',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },
            {
                field: 'StartTime',
                title: 'Start Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'EndTime',
                title: 'End Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'OperatedTime',
                title: 'Operated Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PartNo',
                title: 'Part No',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'LotNo',
                title: 'Lot No',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'CheckOnlineQty',
                title: 'Online',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'CheckWIPQty',
                title: 'WIP',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PackOnlineQty',
                title: 'Pack Online',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PackOfflineQty',
                title: 'Pack Offline',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'LotQty',
                title: 'Lot Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'MouldRej',
                title: 'Mould Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PaintRej',
                title: 'Paint Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'LaserRej',
                title: 'Laser Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'OthersRej',
                title: 'Others Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'TotalRej',
                title: 'Total Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PassQty',
                title: 'Pass Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'LoseAmounts',
                title: 'Lose($)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'Operator',
                title: 'Operator',
                align: 'center',
                valign: 'middle'
            }
        ]

      
        //重新加载必须将原本table清空
        $('#tbOperator').bootstrapTable('destroy');
        $('#tbOperator').bootstrapTable({ // 对应table标签的id

            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetData,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true

            //sidePagination: 'server', // 设置为服务器端分页
            queryParams: searchParams,

            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover table-striped',


            striped: false,  //表格显示条纹，默认为false
            //pagination: true, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码

            
            rowStyle: function (row, index) {
                let style = { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" };
                if (row.StartTime == 'Total') {
                    style['font-weight'] = 'bold';
                }
                return { css: style };
            },

            columns: columns,

            onLoadSuccess: function (data) {  //加载成功时执行
                $('#tbOperator').bootstrapTable('resetView', { height: $(window).height() - 220 });
            },

            onLoadError: function () {  //加载失败时执行
                console.log("Get data error");
            }
        });
    }


    $(window).resize(function () {
        $('#tbOperator').bootstrapTable('resetView', { height: $(window).height() - 220 });
    });

</script>