
@{
    ViewBag.Title = "SummaryReport";
}


<style type="text/css">
    label{
        width:35%
    }
    #txtDateFrom, #txtDateTo, #ddlShift, #ddlPartNo{
        width:60%;
    }
</style>

<div class="container">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">PQC Summary Report</span>
    </div>

    <div class="row searchingBar">
        <div class="col-sm-12 panel panel-default searchingPanel">
            <div class="row form-inline searchingBar">
                <div class="col-sm-3">
                    <label>Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom" data-date-format="yyyy-mm-dd" placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3">
                    <label>Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo" data-date-format="yyyy-mm-dd" placeholder="Please choose date"/>
                </div>
                <div class="col-sm-3">
                    <label>Shift:</label>
                    <select id="ddlShift" class="form-control" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Part No:</label>
                    <select id="ddlPartNo" class="form-control selectpicker" data-live-search="true" data-ng-style="btn-info"></select>
                </div>
            </div>
            <div class="row form-inline searchingBar ">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3" align="right" style="padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding:0px 0px 20px 0px;">
            <table id="tbLaser" data-toggle="table"></table><hr />
            <table id="tbWIP" data-toggle="table"></table><hr />
            <table id="tbPacking" data-toggle="table"></table>
        </div>
    </div>
</div>


@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@*bootstrap table 组件*@
<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />

<script type="text/javascript">

    var apiGetCheckingData = window.globalConfig.rootDirectory + '/PQC_Product/GetSummaryCheckingList';
    var apiGetPackingData = window.globalConfig.rootDirectory + '/PQC_Product/GetSummaryPackingList';


    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#ddlPartNo').selectpicker({ width: 'calc(60%)' });


    $(document).ready(function () {
        var lastDay = getLastReportDay();
        var strLastDay = dateFormat('yyyy-MM-dd', lastDay);
        $('#txtDateFrom').val(strLastDay);
        $('#txtDateTo').val(strLastDay);
        setPartNoDDL($('#ddlPartNo'), 'PQC', '');

        search();
    });



   

    function search() {

        let searchParams = {
            DateFrom: $("#txtDateFrom").val(),
            DateTo: $("#txtDateTo").val(),
            PartNo: $('#ddlPartNo').val(),
            Shift: $("#ddlShift").val()
        }

        //查询条件限制, 没选定PartNo的情况下, from-to跨度最多180天
        let days =   datedifference(searchParams.DateFrom, searchParams.DateTo);
        if (searchParams.PartNo === '' && days > 180) {
            alert('From - To can not over 180 days');
            return false;
        }



        let baseColumn = [
            {
                field: 'TotalOutput',
                title: 'Total Output',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'TTSMouldRej',
                title: 'TTS Mould Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'VendorsMouldRej',
                title: 'Vendors Mould Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'PaintRej',
                title: 'Paint Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'LaserRej',
                title: 'Laser Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'OthersRej',
                title: 'Others Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'TotalRej',
                title: 'Total Rej(%)',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'ActualOutput',
                title: 'Actual Output',
                align: 'center',
                valign: 'middle'
            }
        ];
        let laserColumn = [
            {
                field: 'PQCDept',
                title: 'PQC / Laser',
                align: 'center',
                valign: 'middle'
            }
        ];
        let wipColumn = [
            {
                field: 'PQCDept',
                title: 'PQC / WIP',
                align: 'center',
                valign: 'middle'
            }
        ];
        let packColumn = [
            {
                field: 'PQCDept',
                title: 'PQC / Packing',
                align: 'center',
                valign: 'middle'
            }
        ];
        laserColumn.push(...baseColumn);
        wipColumn.push(...baseColumn);
        packColumn.push(...baseColumn);


        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetCheckingData,
            data: searchParams,

            beforeSend: function(){
                $('#tbLaser').bootstrapTable('showLoading');
                $('#tbWIP').bootstrapTable('showLoading');
            },

            success: function (data) {
                if (data == null || data == undefined || data === "" || data.length== 0) {
                    $('#tbLaser').bootstrapTable('destroy');
                    $('#tbWIP').bootstrapTable('destroy');
                    $('#tbPacking').bootstrapTable('destroy');
                    alert("No record found !");
                    return false;
                }

                let laserData = data.filter(function (item) {
                    return  item.Type == "Laser";
                });
                let wipData = data.filter(function (item) {
                    return item.Type == "WIP";
                });


                $('#tbLaser').bootstrapTable('destroy');
                $('#tbWIP').bootstrapTable('destroy');

                $('#tbLaser').bootstrapTable({
                
                    data: laserData,

                    //表头样式 undefined, thead-light, thead-dark,
                    theadClasses: 'thead-title',

                    //表格样式
                    classes: 'table table-bordered table-hover table-striped',

                    striped: false,  //表格显示条纹，默认为false
                    pagination: false, // 在表格底部显示分页组件，默认false
                    cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
                    showFooter: false,
                    //pageList: [10, 20], // 设置页面可以显示的数据条数
                    //pageSize: 10, // 页面数据条数
                    //pageNumber: 1, // 首页页码
                    //sortName: 'id', // 要排序的字段
                    //sortOrder: 'desc', // 排序规则
                    //sidePagination: 'server', // 设置为服务器端分页

                    rowStyle: function (row, index) {
                        let style = { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" };

                        if (row.PQCDept == "Total")
                            style['font-weight'] = 'bolder';

                        return { css: style };
                    },

                    columns: laserColumn
                });
                $('#tbWIP').bootstrapTable({

                    data: wipData,

                    //表头样式 undefined, thead-light, thead-dark,
                    theadClasses: 'thead-title',

                    //表格样式
                    classes: 'table table-bordered table-hover table-striped',

                    striped: false,  //表格显示条纹，默认为false
                    pagination: false, // 在表格底部显示分页组件，默认false
                    cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
                    showFooter: false,
                    //pageList: [10, 20], // 设置页面可以显示的数据条数
                    //pageSize: 10, // 页面数据条数
                    //pageNumber: 1, // 首页页码
                    //sortName: 'id', // 要排序的字段
                    //sortOrder: 'desc', // 排序规则
                    //sidePagination: 'server', // 设置为服务器端分页

                    rowStyle: function (row, index) {
                        let style = { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" };

                        if (row.PQCDept == "Total")
                            style['font-weight'] = 'bolder';

                        return { css: style };
                    },

                    columns: wipColumn
                });

            },

            complete: function () {
                $('#tbLaser').bootstrapTable('hideLoading');
                $('#tbWIP').bootstrapTable('hideLoading');
                
                $('#tbLaser').bootstrapTable('resetView');
                $('#tbWIP').bootstrapTable('resetView');
            },

            error: function () {
                alert("Get laser/wip data fail !");
                $('#tbLaser').bootstrapTable('destroy');
                $('#tbWIP').bootstrapTable('destroy');
            }
        });



        $('#tbPacking').bootstrapTable('destroy');
        $('#tbPacking').bootstrapTable({

            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetPackingData,
            queryParams: searchParams,


            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover table-striped',

            striped: false,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            showFooter: false,
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码
            //sortName: 'id', // 要排序的字段
            //sortOrder: 'desc', // 排序规则
            //sidePagination: 'server', // 设置为服务器端分页

            rowStyle: function (row, index) {
                let style = { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" };

                if (row.PQCDept == "Total")
                    style['font-weight'] = 'bolder';

                return { css: style };
            },

            columns: packColumn,

            onLoadSuccess: function (data) {
                $('#tbPacking').bootstrapTable('resetView');
            },
            onLoadError: function () {
                alert('Get packing data error');
                $('#tbPacking').bootstrapTable('destroy');
            }
        });
      
    }



    $(window).resize(function () {
        $('#tbLaser').bootstrapTable('resetView');
        $('#tbWIP').bootstrapTable('resetView');
        $('#tbPacking').bootstrapTable('resetView');
    });



</script>