
@{
    ViewBag.Title = "WIPInventory";
}


<div class="container-fluid" style="max-width:1400px;">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">PQC WIP Inventory</span>
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding:0px; margin-top:10px;">
            <table id="tableWIPInventory" data-toggle="table"></table>
        </div>
    </div>
</div>


<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />


<script type="text/javascript">
    var apiGetWIPInventory = window.globalConfig.rootDirectory + '/PQC_Product/GetWIPInventory';

    $(document).ready(function () {
        Search();
    });


    function Search() {


        //重新加载必须将原本table清空
        $('#tableWIPInventory').bootstrapTable('destroy');

        $('#tableWIPInventory').bootstrapTable({ // 对应table标签的id

            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetWIPInventory,

           
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {}
            },
            
            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover',
            cache: false,
            search: true,
            striped: true,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            pageNumber: 1, // 首页页码

            rowStyle: function (row, index) {
                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" }
                }
            },



            columns: [
            {
                field: 'customer',
                title: 'Customer',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'model',
                title: 'Model',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'partNo',
                title: 'Part No',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'jobNo',
                title: 'Job No',
                align: 'left',
                valign: 'middle',
                formatter:function(value, row, index){
                    return '<a href="JobOrderDetail?PartNo=' + row.partNo + '" target="_blank"  >' + value + '</a>';
                }
            },
            {
                field: 'sMrpQty',
                title: 'MRP Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'sBeforeQty',
                title: 'Before Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'sAfterQty',
                title: 'After Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'jobCount',
                title: 'Job Count',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'mfgDate',
                title: 'MFG Date',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'bomFlag',
                title: 'Bom List',
                align: 'center',
                valign: 'middle'
            }
            ],

            onLoadSuccess: function (data) {  //加载成功时执行
                

                var totalMrpSET = 0;
                var totalMrpPCS = 0;
                var totalAfterSET = 0;
                var totalAfterPCS = 0;
                var totalBeforeSET = 0;
                var totalBeforePCS = 0;
                var totalJobCount = 0;



                data.forEach(function (val, index) {
                    //console.log(val);

                    totalMrpSET += val.mrpQtySET;
                    totalMrpPCS += val.mrpQtyPCS;
                    totalAfterSET += val.afterQtySET;
                    totalAfterPCS += val.afterQtyPCS;
                    totalBeforeSET += val.beforeQtySET;
                    totalBeforePCS += val.beforeQtyPCS;
                    totalJobCount += val.jobCount;
                });



                var count = $('#tableWIPInventory').bootstrapTable('getData').length;
                // newFlag == 1的数据为新规的数据
                $('#tableWIPInventory').bootstrapTable('insertRow', {
                    index: count,
                    row: {
                        customer: "Total",
                        model: "",
                        partNo: "",
                        jobNo: "",
                        sMrpQty: totalMrpSET + "(" + totalMrpPCS + ")",
                        sBeforeQty: totalBeforeSET + "(" + totalBeforePCS + ")",
                        sAfterQty: totalAfterSET + "(" + totalAfterPCS + ")",
                        jobCount: totalJobCount,
                        mfgDate: "",
                        bomFlag: ""
                    }
                });
            },
            onLoadError: function () {  //加载失败时执行
                console.log("加载数据失败");
            }

        });

    }


    $(window).resize(function () {
        $('#tableWIPInventory').bootstrapTable('resetView');
    });



</script>