<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>


  <appSettings>
   
    <add key="SQL_ConnStr1" value="Data Source=127.0.0.1;Initial Catalog=LMMS_TAIYO;User ID=sa;Password=sa0" />
    <add key="SQL_ConnStr_Moulding_Sever1" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_Moulding;User ID=sa;Password=sa0" />
    <add key="SQL_ConnStr_Painting_Sever1" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_Painting;User ID=sa;Password=sa0" />
    <add key="SQL_ConnStr_PQC_Sever1" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_PQC;User ID=sa;Password=sa0" />
    <add key="SQL_ConnStr_Assy_Sever1" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_Assy;User ID=sa;Password=sa0" />
    <add key="SQL_ConnStr_Office_Sever1" value="Data Source=127.0.0.1;Initial Catalog=Taiyo_Office;User ID=sa;Password=sa0" />
    <add key="Debug_Log" value="D:\Software Project\Taiyo\DashboardTTS\TTSLog\" />
    <add key="Prod_Log" value="D:\Software Project\Taiyo\DashboardTTS\TTSLog\" />


    <add key="StartTime" value="2020-10-1"/>
  
   
  </appSettings>
  
  
</configuration>
