
@{
    ViewBag.Title = "AllSectionInventoryReport";
}





<div class="container-fluid">

    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Production Inventory</span>
    </div>


    <div class="row">
        <div class="col-md-12 panel panel-default searchingPanel">
            <div class="row form-inline searchingBar ">
                <div class="col-md-3">
                    <label for="ddlModel" style="width:35%;">Model:</label>
                    <select id="ddlModel" class="form-control selectpicker" data-live-search="true" data-ng-style="btn-info"></select>
                </div>

                <div class="col-md-3">
                    <label style="width:35%">Ship To:</label>
                    <select id="ddlShipTo" class="form-control selectpicker" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="FG">FG</option>
                        <option value="Assembly">Assembly</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3" align="right" style="padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </div>

        </div>
    </div>



 



    <div class="row">
        <div class="col-lg-12" style="padding:0px;">
            <table id="tableInventory" data-toggle="table"></table>
        </div>
    </div>


</div>




@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*bootstrap table*@
<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />

<script type="text/javascript">

    var apiGetAllSectionIventoryReport = window.globalConfig.rootDirectory + '/OverallReport/GetAllSectionInventoryReport';


    


    
    $(document).ready(function () {

        setModelDDL($('#ddlModel'), 'PQC');
        
        search();
    });





    function search() {


        //重新加载必须将原本table清空
        $('#tableInventory').bootstrapTable('destroy');

        $('#tableInventory').bootstrapTable({ // 对应table标签的id


            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetAllSectionIventoryReport,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true

      
            queryParams: function (params) { 
                return {
                    Model: $("#ddlModel").val(),
                    ShipTo: $("#ddlShipTo").val()
                }
            },


            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover table-striped',


            striped: false,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码


            height : $(window).height() - 210,



            rowStyle: function (row, index) {
                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" }
                }

            },

            columns: [
            {
                field: 'model',
                title: 'Model',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'partNo',
                title: 'Part No',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'materialName',
                title: 'Material Name',
                align: 'center',
                valign: 'middle'
            },
            
            {
                field: 'lineRej',
                title: 'Line Rej',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'afterAssembly',
                title: 'After Assembly',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'beforeAssembly',
                title: 'Before Assembly',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'afterFG',
                title: 'After FG',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'beforeFG',
                title: 'Before FG',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'afterPack',
                title: 'After Packing',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'beforePack',
                title: 'Before Packing',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'afterWIP',
                title: 'After WIP',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'beforeWIP',
                title: 'Before WIP',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'afterLaser',
                title: 'After Laser',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'beforeLaser',
                title: 'Before Laser',
                align: 'center',
                valign: 'middle'
            },
           {
               field: 'tcPaint',
               title: 'T/C Paint',
               align: 'center',
               valign: 'middle'
           }, {
               field: 'mcPaint',
               title: 'M/C Paint',
               align: 'center',
               valign: 'middle'
           }, {
               field: 'ucPaint',
               title: 'U/C Paint',
               align: 'center',
               valign: 'middle'
           }, {
               field: 'rawPartMoulding',
               title: 'Moulding Raw Part',
               align: 'center',
               valign: 'middle'
           }
            ],

            onLoadSuccess: function (data) {  //加载成功时执行
               
            },

            onLoadError: function () {  //加载失败时执行
                console.log("加载数据失败");
            }

        });

    }


    $(window).resize(function () {
        $('#tableInventory').bootstrapTable('resetView');
    });



</script>