
@{
    ViewBag.Title = "MachineSummaryReport";
}

@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


<style>
    .container-fluid{
        max-width:1600px;
    }
</style>

<div class="container-fluid">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Machine Summary Report</span>
    </div>




    <div class="row searchingBar">

        <div class="col-md-12 panel panel-default searchingPanel" style="padding-top:10px;">
            <form class="form-inline" role="form">
                <div class="form-group searchingBarCol">
                    <label for="txtDateFrom">Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" />
                </div>
                <div class="form-group searchingBarCol">
                    <label for="txtDateTo">Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" />
                </div>
                <div class="form-group searchingBarCol">
                    <label for="ddlShift">Shift:</label>
                    <select id="ddlShift" class="form-control" data-ng-style="btn-info">
                        <option value="">All</option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="form-group searchingBarCol">
                    <label for="txtDateNotIn">Date Not In:</label>
                    <input type="text" class="form-control" id="txtDateNotIn" placeholder="1,2,3.....30,31" />
                </div>
                <div class="form-group searchingBarCol">
                    <input type="checkbox" id="cbExceptWeekend" name="checkbox" value="true" checked="checked" />
                    <label for="cbExceptWeekend">Except Weekend</label>
                </div>

                <div class="form-group searchingBarCol">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </form>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <table id="tableMachineSummary" data-toggle="table"></table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="padding:0px; margin-top:10px;">
            <div id="chartMachine" style="height:350px;"></div>
        </div>
    </div>


</div>




<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />


<script src="~/Dashboard CSS JS/JS/LASER_MachineSetting.js"></script>
<script src="~/plugins/incubator-echarts-master/dist/echarts.min.js"></script>


<script type="text/javascript">

    var apiGetMachineSummaryList = window.globalConfig.rootDirectory + '/MOULDMachineStatus/GetMachineSummaryList';
    var apiGetMachineSummaryChartData = window.globalConfig.rootDirectory + '/MOULDMachineStatus/GetMachineSummaryChart';

    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });
    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });

    var chartMachine = echarts.init(document.getElementById('chartMachine'));


    $(document).ready(function () {
        var day = dateFormat('yyyy-MM-dd', new Date());
        $('#txtDateFrom').val(day);
        $('#txtDateTo').val(day);

        search();
    });


    function search() {

        var datefrom = $("#txtDateFrom").val();
        if (datefrom == '') {
            alert('Date From can not be empty!');
            return false;
        }

        var dateto = $("#txtDateTo").val();
        if (dateto == '') {
            alert('Date To can not be empty!');
            return false;
        }

        var exceptWeekendFlag = false;
        $("input[name='checkbox']:checkbox:checked").each(function () {
            exceptWeekendFlag = $(this).val();
        })


        $('#tableMachineSummary').bootstrapTable('destroy');
        $('#tableMachineSummary').bootstrapTable({ // 对应table标签的id


            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetMachineSummaryList,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true

            //sidePagination: 'server', // 设置为服务器端分页
            queryParams: function (params) {
                return {
                    DateFrom: $("#txtDateFrom").val(),
                    DateTo: $("#txtDateTo").val(),
                    Shift: $("#ddlShift").val(),
                    DateNotIn: $("#txtDateNotIn").val(),
                    ExceptWeekend: exceptWeekendFlag
                }
            },
            //sortName: 'id', // 要排序的字段
            //sortOrder: 'desc', // 排序规则


            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover table-striped',


            pagination: false, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码

         
            rowStyle: function (row, index) {
                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" }
                }
            },

            columns: [           
            {
                field: 'machineID',
                title: 'Machine No',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'running',
                title: 'Running',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'adjustment',
                title: 'Adjustment',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Adjustment">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Adjustment">' + value + '</a>';
                    }
                }
            },
            {
                field: 'noSchedule',
                title: 'No Schedule',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'mouldTesting',
                title: 'Mould Testing',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Mould Testing">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Mould Testing">' + value + '</a>';
                    }
                }
            },
            {
                field: 'materialTesting',
                title: 'Material Testing',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Material Testing">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Material Testing">' + value + '</a>';
                    }
                }
            },
            {
                field: 'changeModel',
                title: 'Change Model',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Change_Model">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=Change_Model">' + value + '</a>';
                    }
                }
            },
            {
                field: 'noOperator',
                title: 'No Operator',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'mcStop',
                title: 'MC Stop',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=No_Material">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=No_Material">' + value + '</a>';
                    }
                }
            },
            {
                field: 'mouldDamage',
                title: 'Mould Damage',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=DamageMould">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=DamageMould">' + value + '</a>';
                    }
                }
            },
            {
                field: 'breakdown',
                title: 'Breakdown',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    if (row.machineID == 'Total') {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=MachineBreak">' + value + '</a>';
                    } else {
                        return '<a target="_blank" href="../Webform/Moulding/MouldingMachineStatus.aspx?MachineID=' + (index + 1) + '&Shift=' + $("#ddlShift").val() + '&DateFrom=' + $("#txtDateFrom").val() + '&DateTo=' + $("#txtDateTo").val() + '&Status=MachineBreak">' + value + '</a>';
                    }
                }
            },
            {
                field: 'meal',
                title: 'Meal',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'shutdown',
                title: 'Shutdown',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'utilization',
                title: 'Utilization',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row,index) {
                    return value + '%';
                }
            }
            ],

            onLoadSuccess: function (data) {  //加载成功时执行
                //console.log(data);

            },
            onLoadError: function () {  //加载失败时执行
                console.log("加载数据失败");
            }

        });



       
        //set chart
        $.ajax({
            type: "POST",
            dataType: "json",
            url: apiGetMachineSummaryChartData,
            data: {
                DateFrom: $("#txtDateFrom").val(),
                DateTo: $("#txtDateTo").val(),
                Shift: $("#ddlShift").val(),
                DateNotIn: $("#txtDateNotIn").val(),
                ExceptWeekend: exceptWeekendFlag
            },
            success: function (data) {

               

                var axisXLabelData = [];
                var utilizationData = [];
          

                for (var i = 0; i < data.length; i++) {

                    var asixNo = data[i].asixNo;
                    axisXLabelData.push(asixNo);

                    var utilization = data[i].utilization;
                    utilizationData.push(utilization);
                }


                var attendOption = {

                    color: ['#00B050'],


                    title: {
                        text: 'Machine Utilization Chart'
                    },

                    //legend: {
                    //    data: ['Attendance Days', 'Leave Days']
                    //},

                    tooltip: {
                        show: true,
                        //trigger: 'axis',
                        crossStyle: {
                            color: '#999'
                        },
                        //自定义tooltip格式 
                        formatter: function (params) {

                            var dataModel = data.find(function (x) {
                                return x.asixNo == params.name;
                            })

                            var res = '<div>';
                            res += '<p>' + dataModel.asixNo + '</p>';
                            res += '<p><span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#00B050;"></span>Utilization:  ' + dataModel.utilization + '%</p>';
                            res += "</div>";
                            return res;
                        }
                    },

                    xAxis: {
                        type: 'category',
                        name: 'Machine Type',
                        data: axisXLabelData,//X轴数据 数组
                        axisLabel: {
                            interval: 0,
                            rotate: 0   //X轴 倾斜角度
                        },
                        axisPointer: {
                            type: 'shadow'
                        }
                    },

                    yAxis: [
                        {
                            type: 'value',
                            name: 'Percentage',
                            min: 0,
                            max: 100,
                            interval: 20,
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                       
                    ],

                    series: [
                        {
                            name: 'utilization',
                            type: 'bar',
                            //stack: 'user',
                            data: utilizationData,
                            label: {
                                show: true,
                                position: 'insideTop',
                                formatter: function (params) { //标签内容
                                    return params.value + '%';
                                }
                            },
                        }
                    ]
                };


                chartMachine.clear();
                chartMachine.setOption(attendOption);

            },
            error: function (e) {
                alert("Get chart data error !");
            }
        });



    }




    $(window).resize(function () {
        $('#tableMachineSummary').bootstrapTable('resetView');
        chartMachine.resize();
    });


</script>
