
@{
    ViewBag.Title = "DailyReport";
}


@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />

@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@*bootstrap table*@
<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />

<div class="container">
    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Laser Daily Report</span>
    </div>
    <div class="row">
        <div class="col-sm-12 panel panel-default searchingPanel" style="padding-top:10px;">
            <div class="row form-inline searchingBar">
                <div class="col-sm-3">
                    <label style="width:35%">Date:</label>
                    <input type="text" class="form-control" id="txtDate" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" style="width:60%;" />
                </div>
                <div class="col-sm-3">
                    <label style="width:35%">Shift:</label>
                    <select id="ddlShift" class="form-control" data-ng-style="btn-info" style="width:60%;">
                        <option value="">All</option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label style="width:35%">Machine No:</label>
                    <select id="ddlMachine" class="form-control" data-ng-style="btn-info" style="width:60%;">
                        @*<option value="">All</option>*@
                        <option value="1">No.1</option>
                        <option value="2">No.2</option>
                        <option value="3">No.3</option>
                        <option value="4">No.4</option>
                        <option value="5">No.5</option>
                        <option value="6">No.6</option>
                        <option value="7">No.7</option>
                        <option value="8">No.8</option>
                    </select>
                </div>                
                <div class="col-sm-3" align="right" style="padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="generate();" />
                </div>
            </div>
        </div>
    </div>
   

    <div class="row">
        <div class="col-sm-12 panel panel-default" style="padding-bottom:10px;">
            <h4>Production Output Report</h4>
            <table data-toggle="table" id="tbOutput"></table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 panel panel-default" style="padding-bottom:10px;">
            <h4>Machine Status List</h4>
            <table data-toggle="table" id="tbStatus" style="width:500px;"></table>
        </div>
    </div>
</div>




<script type="text/javascript">

    var apiGetDataMain = window.globalConfig.rootDirectory + '/LASER_Product/GetDailyMain';
    var apiGetDataDetailOutput = window.globalConfig.rootDirectory + '/LASER_Product/GetDailyDetailOutput';
    var apiGetDataDetailStatus = window.globalConfig.rootDirectory + '/LASER_Product/GetDailyDetailStatus';

    $('#txtDate').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });




    //设置part no, machine id 下拉框
    $(document).ready(function () {
      
        var lastDay = getLastReportDay();
        var strLastDay = dateFormat('yyyy-MM-dd', lastDay);
        $('#txtDate').val(strLastDay);

        generate();
    });



    function generate() {
        $('#tbStatus').bootstrapTable('destroy');
        $('#tbStatus').bootstrapTable({
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetDataDetailStatus,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            //sidePagination: 'server', // 设置为服务器端分页
            queryParams: function (params) {
                return {
                    Day: $("#txtDate").val(),
                    MachineID: $("#ddlMachine").val(),
                    Shift: $("#ddlShift").val()
                }
            },
            
            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',
            classes: 'table table-bordered table-hover table-striped',     
            striped: false,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码
            //search: true,
            


            rowStyle: function (row, index) {
                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" }
                }
            },


            columns: [
            {
                title: 'S/N',
                align: 'center',
                valign: 'middle',
                formatter: function (val, row, index) {
                    console.log(row)
                    if (row.StartTime == null) {
                        return 'Total'
                    } else {
                        return index + 1;
                    }
                }
            },
            {
                field: 'StartTime',
                title: 'Start Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'StopTime',
                title: 'Stop Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'TakeTime',
                title: 'Take Time',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'Status',
                title: 'Status',
                align: 'center',
                valign: 'middle'
            }
            ],

            onLoadSuccess: function (data) {  
                console.log(data);                
            },

            onLoadError: function () {
                console.log("tbStatus 加载失败");
            }

        });


        $('#tbOutput').bootstrapTable('destroy');
        $('#tbOutput').bootstrapTable({
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetDataDetailOutput,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            //sidePagination: 'server', // 设置为服务器端分页
            queryParams: function (params) {
                return {
                    Day: $("#txtDate").val(),
                    MachineID: $("#ddlMachine").val(),
                    Shift: $("#ddlShift").val()
                }
            },

            //表头样式 undefined, thead-light, thead-dark,
            theadClasses: 'thead-title',
            classes: 'table table-bordered table-hover table-striped',
            striped: false,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码
            //search: true,


            rowStyle: function (row, index) {
                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" }
                }
            },


            columns: [
                {
                    title: 'S/N',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (val, row, index) {
                        console.log(row)
                        if (row.StartTime == null) {
                            return 'Total'
                        } else {
                            return index + 1;
                        }
                    }
                },
                {
                     field: 'StartTime',
                     title: 'Start Time',
                     align: 'center',
                     valign: 'middle'
                },
                {
                    field: 'StopTime',
                    title: 'Stop Time',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'TakeTime',
                    title: 'Take Time',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'PartNo',
                    title: 'Part No',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'JobNo',
                    title: 'Job No',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'LotNo',
                    title: 'Lot No',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'PassQty',
                    title: 'Pass Qty',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'RejQty',
                    title: 'NG Qty',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'Setup',
                    title: 'Setup Qty',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'Buyoff',
                    title: 'Buyoff Qty',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'Output',
                    title: 'Output',
                    align: 'center',
                    valign: 'middle'
                }
       
            ],


            onLoadSuccess: function (data) {
                console.log(data);
            },

            onLoadError: function () {
                console.log("tbOutput 加载失败");
            }

        });

    }


    $(window).resize(function () {
        $('#tbStatus').bootstrapTable('resetView');
        $('#tbOutput').bootstrapTable('resetView');
    });

</script>