
@{
    ViewBag.Title = "SummaryReport";
}

@*下拉框组件*@
<script src="~/Plugins/bootstrap-select-1.13.0/dist/js/bootstrap-select.min.js"></script>
<link href="~/Plugins/bootstrap-select-1.13.0/dist/css/bootstrap-select.min.css" rel="stylesheet" />


@*时间框组件*@
<script src="~/Plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<link href="~/Plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


<div class="container">

    <div class="row titleRow">
        <img class="titleImg" src="~/Resources/Images/headericon.gif" />
        <span class="titleText">Laser Summary Report</span>
    </div>


    <div class="row">
        <div class="col-md-12 panel panel-default searchingPanel" style="padding-top:10px;">

            <div class="row form-inline searchingBar ">
                <div class="col-md-3">
                    <label style="width:35%">Date From:</label>
                    <input type="text" class="form-control" id="txtDateFrom" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" style="width:60%;" />
                </div>
                <div class="col-md-3">
                    <label style="width:35%">Date To:</label>
                    <input type="text" class="form-control" id="txtDateTo" CssClass="form-control formDateTimePicker" data-date-format="yyyy-mm-dd" placeholder="Please choose date" style="width:60%;"/>
                </div>
                <div class="col-md-3">
                    <label style="width:35%">Shift:</label>
                    <select id="ddlShift" class="form-control" data-ng-style="btn-info" style="width:60%;">
                        <option value="">All</option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label style="width:35%">Part No:</label>
                    <select id="ddlPartNo" class="form-control selectpicker" data-live-search="true" data-ng-style="btn-info" style="width:60%;"></select>
                </div>
            </div>


            <div class="row form-inline searchingBar ">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3" align="right" style="padding-right:2%;">
                    <input type="button" class="btn btn-success" value="Generate" onclick="search();" />
                </div>
            </div>


        </div>
    </div>



    <div class="row">
        <div class="col-lg-12" style="padding:0px;">
            <table id="tableLaserSummary" data-toggle="table"></table>
        </div>
    </div>


</div>




<script src="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<link href="~/plugins/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet" />

<script type="text/javascript">

    var apiGetSummaryData = window.globalConfig.rootDirectory + '/LASER_Product/GetSummaryData';


    //初始化时间框
    $('#txtDateFrom').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });

    $('#txtDateTo').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        initialDate: new Date()
    });



    //设置part no, machine id 下拉框
    $(document).ready(function () {
        setPartNoDDL($('#ddlPartNo'), 'Laser','');

        var lastDay = getLastReportDay();
        var strLastDay = dateFormat('yyyy-MM-dd', lastDay);
        

        $('#txtDateFrom').val(strLastDay);
        $('#txtDateTo').val(strLastDay);


        $('#ddlPartNo').selectpicker({width: 'calc(60%)'});

         


        search();
    });





    function search() {


        //重新加载必须将原本table清空
        $('#tableLaserSummary').bootstrapTable('destroy');

        $('#tableLaserSummary').bootstrapTable({ // 对应table标签的id


            //call后台数据
            method: 'post',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: apiGetSummaryData,

            cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true

            //sidePagination: 'server', // 设置为服务器端分页
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求



                return {
                    //pageSize: params.limit, // 每页要显示的数据条数
                    //offset: params.offset, // 每页显示数据的开始行号
                    //sort: params.sort, // 要排序的字段
                    //sortOrder: params.order, // 排序规则
                    //dataId: $("#dataId").val() // 额外添加的参数

                    DateFrom: $("#txtDateFrom").val(),
                    DateTo: $("#txtDateTo").val(),
                    PartNo: $("#ddlPartNo").val(),
                    Shift: $("#ddlShift").val()
                }
            },
            //sortName: 'id', // 要排序的字段
            //sortOrder: 'desc', // 排序规则


            //表头样式 undefined, thead-light, thead-dark, 
            theadClasses: 'thead-title',

            //表格样式
            classes: 'table table-bordered table-hover table-striped',

            visibleSearch: true,

            striped: false,  //表格显示条纹，默认为false
            pagination: false, // 在表格底部显示分页组件，默认false
            //pageList: [10, 20], // 设置页面可以显示的数据条数
            //pageSize: 10, // 页面数据条数
            //pageNumber: 1, // 首页页码


            rowStyle: function (row, index) {
                //console.log(row);
            

                return {
                    //防止数据自动换行
                    css: { "overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap" } 
                }

            },

            columns: [
            {
                field: 'machineID',
                title: 'Machine ID',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'laserBtn',
                title: 'Laser Btn',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'printBtn',
                title: 'Print Btn',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'lens784',
                title: 'Lens784',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'lens824',
                title: 'Lens824',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'lens833',
                title: 'Lens833',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'bezel257',
                title: 'Bezel257',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'bezel830',
                title: 'Bezel830',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'bezel831',
                title: 'Bezel831',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'panel452',
                title: 'Panel452',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'panel656',
                title: 'Panel656',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'tks869',
                title: 'TKS869',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'ok',
                title: 'OK Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'ng',
                title: 'NG Qty',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'output',
                title: 'Output',
                align: 'center',
                valign: 'middle'
            },
            {
                field: 'rejRate',
                title: 'Rej%',
                align: 'center',
                valign: 'middle'
            }

            ],

            onLoadSuccess: function (data) {  //加载成功时执行
                console.log(data);


                var printBtn = 0;
                var laserBtn = 0;
                var lens784 = 0;
                var lens824 = 0;
                var lens833 = 0;
                var bezel257 = 0;
                var bezel830 = 0;
                var bezel831 =0;
                var panel452 =0;
                var panel656 =0;


                

                for (var i = 0; i < data.length; i++) {
                    printBtn = data[i].printBtn;
                    laserBtn = data[i].laserBtn;
                    lens784 = data[i].lens784;
                    lens824 = data[i].lens824;
                    lens833 = data[i].lens833;
                    bezel257 = data[i].bezel257;
                    bezel830 = data[i].bezel830;
                    bezel831 = data[i].bezel831;
                    panel452 = data[i].panel452;
                    panel656 = data[i].panel656;
                }

                if (printBtn == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'printBtn');
                if (laserBtn == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'laserBtn');
                if (lens784 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'lens784');
                if (lens824 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'lens824');
                if (lens833 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'lens833');
                if (bezel257 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'bezel257');
                if (bezel830 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'bezel830');
                if (bezel831 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'bezel831');
                if (panel452 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'panel452');
                if (panel656 == 0) $('#tableLaserSummary').bootstrapTable('hideColumn', 'panel656');


            },
            onLoadError: function () {  //加载失败时执行
                console.log("加载数据失败");
            }

        });

    }


    $(window).resize(function () {
        $('#tableLaserSummary').bootstrapTable('resetView');
    });

























</script>